#about{color: 111;
    .about_inner{color: 111;
        h3{color: 111;

        }
        div{color: 111;
            article{color: 111;
                h4{color: 111;

                }
                p{color: 111;

                }
                a{color: 111;

                }
            }
        }
    }
}