:root {
    /* color */
    --color-black: #222;
    --color-darkgray: #666;
    --color-white: #ffffff;
    --color-main: #3a68b2;

    /* size */
    --size-button: 60px;
    --size-border: 4px;
    --size-thumnail: 50px;
    --base-space: 8px;
    --font-size1: 18px;
    --font-size2: 24px;

    /* animation */
    --animation-duration: 300ms;    
    
    /* flex */
    --flex: flex;
    --flex-column: column;
    --flex-around: space-around;
    --flex-between: space-between;
    --flex-evenly: space-evenly;
    --center: center;
  }

  .br {    
    display: block;
  }
  

  